<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFT"
        tools:targetApi="31">
        <activity
            android:name=".ui.reclamos.ReclamoAnalistaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reclamos.AgregarReclamoVMEActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reclamos.AgregarReclamoAPE_OPTActivity"
            android:exported="false" />
        <activity
            android:name=".ui.usuarios.ModificarUsuario_AnalistaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reclamos.ModificarReclamoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.eventos.AsignarTutorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.eventos.AgregarEventoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_tutor"
            android:exported="false" />
        <activity
            android:name=".ui.reclamos.ReclamoSel_analistaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.usuarios.Usuarios_AnalistaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reclamos.Reclamo_analistaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.eventos.Evento_analistaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reclamos.AgregarReclamoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reclamos.ReclamoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.eventos.EventoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_analista"
            android:exported="false"
            android:theme="@style/Theme.PFT.NoActionBar" />
        <activity
            android:name=".ui.login.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.PFT.NoActionBar" />
    </application>

</manifest>